<!doctype html>

<html>
  <head>
    <title>radio-color-picker test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../radio-color-picker.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <radio-color-picker></radio-color-picker>
      </template>
    </test-fixture>

    <script>
      suite('radio-color-picker', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'radio-color-picker');
        });

      });
    </script>
  </body>
</html>
